.masonryGrid {
    display: flex;
    margin-left: calc(-1 * var(--static-space-16));
    width: 100%;
}

.masonryGridColumn {
    padding-left: var(--static-space-16);
    background-clip: padding-box;
}

.gridItem {
    margin-bottom: var(--static-space-16);
    transition: transform 0.3s ease;
}

.gridItem:hover {
  transform: scale(1.05); /* Efecto de hover para ampliar ligeramente las imágenes */
}

.imageTitle {
    color: #ffffff;
    font-weight: bold;
    margin-top: 15px; /* Añadimos más espacio superior entre la imagen y el título */
    text-align: center;
  }
  
  .imageCategory {
    color: #a3a3a3;
    margin-top: 8px;
    text-align: center;
    font-style: italic;
  }