/* src/app/components/Header.module.scss */

.position {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.menuContainer {
  position: relative;
}

.bridge {
  position: absolute;
  top: calc(100% + 1px); /* Justo debajo del botón */
  left: 0; /* Asegúrate de que comience desde el borde izquierdo del contenedor */
  height: 10px; /* Aumenta la altura para cubrir mejor el espacio */
  width: 100%; /* Asegúrate de que el ancho cubra toda el área entre el botón y el menú */
  background-color: transparent; /* Invisible para el usuario */
  z-index: 150;
}

.dropdownMenu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: calc(100% + 8px); /* Mantén el espacio entre el menú y el botón */
  left: 1px;
  background-color: #151515;
  border: 1px solid #3f3f3f;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 8px;
  z-index: 200;
  min-width: 15px;
}

.dropdownMenuVisible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.dropdownMenu a {
  display: block;
  padding: 8px 16px; /* Añade espacio a la derecha e izquierda */
  color: #ffffff;
  text-decoration: none;
  text-align: right; 
}

.dropdownMenu a:hover {
  background-color: #179cf7;
  color: #ffffff;
  border-radius: 10px;
}

.dropdownMenu a:active {
  color: #ffffff;
}

@media (--s) {

  /* Asegúrate de que '--s' esté definido correctamente */
  .position {
    top: auto;
    position: fixed;
    bottom: var(--static-space-24);
  }
}

@media (max-height: 768) {
  .dropdownMenu {
    top: auto;
    bottom: calc(100% + 8px); /* Posiciona el menú hacia arriba */
    transform: translateY(10px); /* Ajuste de transformación hacia abajo */
  }
}

/* Opcional: Estilos para evitar que el dropdown se corte en móviles */
@media (max-width: 480px) {
  .dropdownMenu {
    display: none;
  }
}