.position {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.menuContainer {
  position: relative;
}

.bridge {
  position: absolute;
  top: calc(100% + 1px); /* Justo debajo del botón */
  left: 0;
  height: 10px;
  width: 100%;
  background-color: transparent;
  z-index: 150;
}

.dropdownMenu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: calc(100% + 8px);
  left: 1px;
  background-color: #151515;
  border: 1px solid #3f3f3f;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 8px;
  z-index: 200;
  min-width: 10px;
}

.dropdownMenuVisible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.dropdownAbove {
  top: auto; /* Elimina la posición top */
  bottom: calc(100% + 8px); /* Posiciona el menú hacia arriba */
}

.dropdownMenu a {
  display: block;
  padding: 8px 16px;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.dropdownMenu a:hover {
  background-color: #179cf7;
  color: #ffffff;
  border-radius: 10px;
}

.dropdownMenu a:active {
  color: #ffffff;
}

@media (--s) {
  .position {
    top: auto;
    position: fixed;
    bottom: var(--static-space-24);
  }
}


@media (max-width: 768px) {
  .menuContainer {
    display: flex;
    justify-content: center;
  }

  .dropdownMenu {
    top: auto; /* Elimina el `top` en móviles */
    bottom: calc(100% + 8px); /* Coloca el menú justo arriba del botón */
    left: -65px;
  }

  .bridge {
    top: auto; /* Elimina el `top` en móviles */
    bottom: calc(100% + 1px); /* Coloca el `bridge` justo arriba del menú */
    height: 15px; /* Aumenta la altura si es necesario para cubrir el espacio */
    width: 100%; /* Asegura que cubra toda el área sobre el menú */
    left: 0;
  }
}