/* src/app/components/headingStyles.module.scss */

.twoLinesHeading {
    text-align: center;
    margin: 0 0 5px 0;
    width: 100%;
    white-space: normal; /* Permite que el texto se envuelva en múltiples líneas */
    overflow: visible;
    text-overflow: unset;
    max-height: none;
    display: block;

    /* Tamaño de fuente y altura de línea base */
    font-size: 2.5rem;
    line-height: 1.2;

    /* Media Queries para ajustar el tamaño de la fuente en diferentes resoluciones */
    @media (max-width: 1200px) {
        font-size: 2.5rem;
    }

    @media (max-width: 992px) {
        font-size: 2.5rem;
    }

    @media (max-width: 768px) {
        font-size: 2.5rem;
    }

    @media (max-width: 576px) {
        font-size: 2.5rem;
    }

    @media (max-width: 430px) {
        font-size: 1.5rem;
        /* Opcional: Ajustar el padding o margin si es necesario */
        margin: 0 0 3px 0;
    }

    /* Estilos para cada línea */
     .line1, .line2 {
        display: block; /* Asegura que cada línea esté en una línea separada */

        @media (max-width: 576px) {
            font-size: 1.8rem; /* Aumenta el tamaño de los botones en móvil */
            line-height: 1.4; /* Mejora la legibilidad */
        }

        @media (max-width: 430px) {
            font-size: 1.6rem;
        }

        @media (max-width: 320px) {
            font-size: 1.4rem;
        }
    }

    /* Reducir el tamaño de fuente para la segunda línea */
    .line2 {
        font-size: 0.8em; /* Ajusta según sea necesario */
        line-height: 1.2;

        @media (max-width: 576px) {
            font-size: 1.5rem; /* Aumenta ligeramente en móviles */
        }

        @media (max-width: 430px) {
            font-size: 1.3rem; /* Ajuste específico para pantallas más pequeñas */
        }

        @media (max-width: 320px) {
            font-size: 1.2rem; /* Ajusta para dispositivos extra pequeños */
        }
    }
}

