/* headingStyles.module.scss */

.twoLinesHeading {
    text-align: center;
    margin: 0 0 5px 0;
    width: 100%;
    white-space: normal;
    /* Permite que el texto se envuelva en múltiples líneas */

    /* Tamaño de fuente y altura de línea base */
    font-size: 2.5rem;
    line-height: 1.2;

    /* Evita que el texto se trunque */
    overflow: visible;
    text-overflow: unset;
    max-height: none;

    /* Asegura que el texto se distribuya en dos líneas */
    display: block;

    /* Media Queries para ajustar el tamaño de la fuente en diferentes resoluciones */
    @media (max-width: 1200px) {
        font-size: 2.2rem !important; 
    }

    @media (max-width: 992px) {
        font-size: 2rem !important;
    }

    @media (max-width: 768px) {
        font-size: 1.8rem !important
    }

    @media (max-width: 576px) {
        font-size: 1.6rem !important;
    }

    @media (max-width: 430px) {
        font-size: 1.4rem;
        /* Opcional: Ajustar el padding o margin si es necesario */
        margin: 0 0 3px 0;
    }
}