/* ReviewerCard.module.scss */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Rebote hacia arriba */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
  }
}


.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 550px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  animation: bounce 1.5s ease-in-out infinite; /* Animación siempre activa */
  &:hover {
    animation: hoverMove 0.5s ease-in-out infinite;
  }
}



.avatarRatingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  display: flex;
  align-items: center;
  color: var(--brand-color);
  font-weight: bold;
  margin-top: 0.5rem;
}

.flag {
  width: 24px;
  height: auto;
  margin-left: 0.5rem;
  overflow: hidden;
}

.rating {
  color: var(--accent-color);
  font-weight: bold;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-grow: 0.5;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

.fiverrLogo {
  position: absolute;
  top: 8px;
  right: 8px;
}

.comment {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin: 0.5rem 0;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.rating {
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
}

.date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.85rem;
  text-align: center;
  margin-top: auto;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .card {
    /* Ajustamos la altura para móviles */
    padding: 0.3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    width: 300px;
    height: 360px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .comment {
    font-size: 0.9rem;
    -webkit-line-clamp: 4; /* Limita a 4 líneas en móviles */
  }

}

@media (min-width: 390px) {
  .card {
    width: 280px; /* Reducir ancho en pantallas muy pequeñas */
    height: 360px; /* Eliminar altura fija */
  }

  .comment {
    font-size: 0.85rem;
    -webkit-line-clamp: 3; /* Limita a 3 líneas en pantallas pequeñas */
  }

}
