.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%; /* Limita la altura de la tarjeta */
  overflow: hidden; /* Oculta el contenido que excede el área de la tarjeta */
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
}

.fiverrLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.username {
  color: var(--brand-color);
  font-weight: bold;
}

.country {
  color: rgba(255, 255, 255, 0.7);
}

.comment {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-bottom: 1rem;
  word-wrap: break-word; /* Hace que el texto largo se divida en líneas */
  overflow: hidden; /* Oculta el contenido que excede */
  text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limitar el número de líneas a 5 */
  -webkit-box-orient: vertical;
}

.rating {
  color: var(--accent-color);
  font-weight: bold;
}

/* Estilos para pantallas pequeñas (mobile) */
@media (max-width: 768px) {
  .card {
    max-width: 100%;
    padding: 0.75rem;
    max-height: 100%; /* Limita la altura de la tarjeta */
  }

  .fiverrLogo svg {
    width: 60px;
    height: auto;
  }

  .username {
    font-size: 1.2rem;
  }

  .country {
    font-size: 0.9rem;
  }

  .comment {
    font-size: 0.9rem; /* Reduce ligeramente el tamaño del texto */
    margin-bottom: 0.75rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limita el comentario a 5 líneas */
    -webkit-box-orient: vertical;
  }

  .rating {
    font-size: 0.9rem;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }
}
